# Local Netlify folder
.netlify
# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
.next/
out/

# Environment variables / Secrets
.env
*.pem

# System files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-error.log*